@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }

  .dark {
    --background: 16 19 31;
    --foreground: 255 255 255;
  }
}

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-300;
  font-family: 'Inter', sans-serif;
}